**/*.ts
**/*.tsx
**/*.map
**/*.md
**/*.markdown
**/__tests__/**
**/test/**
**/tests/**
**/example/**
**/examples/**
**/docs/**
**/doc/**
**/benchmark/**
**/benchmarks/**
**/demo/**
**/demos/**

**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/__tests__/**
**/node_modules/**/example/**
**/node_modules/**/examples/**
**/node_modules/**/*.md
**/node_modules/**/*.markdown
**/node_modules/**/*.ts
**/node_modules/**/*.map
