/* From Uiverse.io by vinodjangid07 */ 
:root {
  --btn-primary: #4285f4; /* 选中蓝色 */
  --btn-gray: #9e9e9e;    /* 未选中灰色 */
}

.Btn {
  width: 2.2em;
  height: 2.2em;
  background-color: transparent;
  border: transparent;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}

.svgIcon {
  fill: var(--btn-gray);
  width: 2.2em;
  height: 2.2em;
}

.svgIcon:hover {
  fill: var(--btn-primary);
}